In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import sys

print(sys.version)

3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)]

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [5]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [6]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
#This is a comment.
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [9]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

Camel Case
Each word, except the first, starts with a capital letter:

myVariableName = "John"

Pascal Case
Each word starts with a capital letter:

MyVariableName = "John"

Snake Case
Each word is separated by an underscore character:

my_variable_name = "John"

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [14]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [15]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [16]:
x = 5
y = 10
print(x + y)

15

In [17]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
x = 5
y = "John"
print(x, y)

5 John

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [20]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [21]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

To create a global variable inside a function, you can use the global keyword.

In [22]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType

x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

In [23]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [24]:
#Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [25]:
#Complex numbers are written with a "j" as the imaginary part:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [26]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [31]:
import random

print(random.randrange(1, 10))

2

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [34]:
print(int(35.88))
print(float(35))
print(str(35.82))

35
35.0
35.82

In [35]:
print("Hello")
print('Hello')

Hello
Hello

In [36]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [37]:
a = "Hello"
print(a)

Hello

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [38]:
a = "Hello, World!"
print(a[1])

e

In [39]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [40]:
a = "Hello, World!"
print(len(a))

13

In [41]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [42]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [43]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [44]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [45]:
b = "Hello, World!"
print(b[2:5])

llo

In [46]:
b = "Hello, World!"
print(b[:5])

Hello

In [47]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [48]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [49]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [50]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [51]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [52]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [53]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [54]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [55]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

F-Strings
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [56]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [57]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [58]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [59]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [60]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning